<div>
  Add New Exclusion
  <p-button label="Add" [style]="{'margin-left': '5px'}" (onClick)="addNewExclusion()"></p-button>
</div>
<p-table [value]="exclusions">
  <ng-template pTemplate="header">
    <tr>
      <th>EPN</th>
      <th>EPN Description</th>
      <th>Cost</th>
      <th>Notes</th>
      <th></th>
    </tr>
  </ng-template>
  <ng-template pTemplate="body" let-epn let-rowIndex="rowIndex">
    <tr>
      <td>
        <input type="text" pInputText [(ngModel)]="epn.epn" name="epn_{{rowIndex}}" />
      </td>
      <td>
        <input type="text" pInputText [(ngModel)]="epn.desc" name="desc_{{rowIndex}}"  />
      </td>
      <td>
        <input type="text" pInputText [(ngModel)]="epn.desc" name="desc_{{rowIndex}}"  />
      </td>
      <td>
        <input type="number" pInputText [(ngModel)]="epn.notes" name="notes_{{rowIndex}}" />
      </td>
      <td>
        <button pButton type="button" icon="pi pi-trash"  (click)="removeItem(rowIndex)"  class="ui-button-raised ui-button-danger"></button>
      </td>
    </tr>
  </ng-template>
</p-table>
{{exclusions | json }}
